<script setup>
import { Head, useForm } from '@inertiajs/vue3';
import ManagementLayout from '@/Layouts/ManagementLayout.vue';
import Form from '@/Components/Form.vue';
import FormGroup from '@/Components/FormGroup.vue';
import Select from '@/Components/Select.vue';
import Textarea from '@/Components/Textarea.vue';
import Button from '@/Components/Button.vue';
import CRUDSubmit from '@/Components/Page/CRUDSubmit.vue';

const props = defineProps({
    permission: {
        type: Object,
        default: {
            object: null,
            action: null,
        },
    },
});
const form = useForm({
    _redirect: 'edit',
    ...props.permission,
});

function submit() {
    form.submit(
        props.permission.id ? 'put' : 'post',
        props.permission?.id ? route('management.permissions.update', props.permission.id) : route('management.permissions.store'),
    )
}
</script>

<template>
    <Head :title="$t('Roles')+'-'+$t('Edit')"/>

    <ManagementLayout>
        <Form :form="form" @submit.prevent="submit" class="row row-cols-1 row-cols-md-2 gx-2 mt-3 content-item">
            <FormGroup for="object" :label="$t('Object')" class="col">
                <Select id="object" :source="$page.props.auth.objects" v-model="form.object" required autofocus/>
            </FormGroup>
            <FormGroup for="action" :label="$t('Action')" class="col">
                <Select id="action" :source="$page.props.auth.actions" v-model="form.action" required/>
            </FormGroup>
            <div class="clearfix"></div>
            <FormGroup for="description" :label="$t('Description')" class="w-100">
                <Textarea id="description" v-model="form.description"/>
            </FormGroup>
            <div class="w-100">
                <div class="d-flex justify-content-end gap-2">
                    <Button tag="link" color="secondary" outline :href="route('management.permissions.index')" v-html="$t('Close')"/>
                    <CRUDSubmit object="role" @submit="action => form._redirect = action"/>
                </div>
            </div>
        </Form>
    </ManagementLayout>
</template>

<style scoped>

</style>
