<script setup>
import { Head, Link, useForm } from '@inertiajs/vue3';
import AdminLayout from '@/Layouts/AdminLayout.vue';
import Ico from '@/Components/Ico.vue';
import Button from '@/Components/Button.vue';
import Toggle from '@/Components/Toggle.vue';
import Table from '@/Components/Table.vue';
import Pagination from '@/Components/Pagination.vue';
import FilterBar from '@/Elements/Admin/FilterBar.vue';
import Order from '@/Elements/Order.vue';
import OrderReset from '@/Elements/OrderReset.vue';

const props = defineProps({
    permissions: {},
    objects: Array,
    actions: Array,
    perPage: 20
});

const form = useForm({
    checked: []
});

function checkAll(event) {
    if (event.target.checked) {
        form.checked = props.permissions.data.map(item => item.id);
    }
    else  {
        form.checked = [];
    }
}
</script>

<template>
    <Head :title="$t('Roles')"/>

    <AdminLayout>
        <div class="d-flex flex-column h-100">
            <div class="index-actions">
                <Button
                    v-if="$can('permission-create')"
                    tag="link"
                    color="light"
                    scale="sm"
                    :href="route('admin.permissions.create')"
                    class="p-0 d-flex flex-row"
                >
                    <div class="p-1 text-bg-success">
                        <Ico name="add" scale="20"/>
                    </div>
                    <div v-html="$t('New')" class="px-2 my-1"/>
                </Button>
                <Button
                    v-if="$can('permission-delete')"
                    color="light"
                    scale="sm"
                    class="p-0 d-flex flex-row"
                    :disabled="form.checked.length === 0"
                    @click="form.post(route('admin.permissions.destroy-many'))"
                >
                    <div class="p-1 text-bg-danger">
                        <Ico name="delete" scale="20"/>
                    </div>
                    <div v-html="$t('Delete')" class="px-2 my-1"/>
                </Button>
            </div>
            <FilterBar
                class="mt-2"
                :url="$page.url"
                :perPage="props.perPage"
                member-key="Permissions"
                :where="{
                    object: {
                        type: 'select',
                        title: 'Object',
                        source: props.objects,
                    },
                    action: {
                        type: 'select',
                        title: 'Action',
                        source: props.actions,
                    }
                }"
            />
            <div class="table-responsive overflow-auto bg-white mt-2">
                <Table striped>
                    <template #thead>
                        <tr>
                            <th scope="col" class="w-1">#</th>
                            <th v-if="$can('permission-delete')" scope="col" class="w-1">
                                <Toggle @change="checkAll"/>
                            </th>
                            <th scope="col">
                                <div class="d-flex flex-row">
                                    <div class="flex-fill">
                                        {{ $t('Object') }}
                                    </div>
                                    <Order :url="$page.url" field="object"/>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="d-flex flex-row">
                                    <div class="flex-fill">
                                        {{ $t('Action') }}
                                    </div>
                                    <Order :url="$page.url" field="action"/>
                                </div>
                            </th>
                            <th scope="col">
                                {{ $t('Description') }}
                            </th>
                            <th scope="col" class="w-1">
                                <OrderReset :url="route('admin.permissions.index')"/>
                            </th>
                        </tr>
                    </template>
                    <tr v-for="(item, index) in props.permissions.data" :key="item.id" >
                        <th scope="row" v-html="props.permissions.from + index"/>
                        <td v-if="$can('permission-delete')">
                            <Toggle :value="item.id" v-model="form.checked"/>
                        </td>
                        <td>
                            <Link v-if="$can('permission-update')" :href="route('admin.permissions.edit', item.id)" v-html="item.object" class="d-block"/>
                            <Link v-else-if="$can('permission-view')" :href="route('admin.permissions.show', item.id)" v-html="item.object" class="d-block"/>
                            <template v-else>{{ item.object }}</template>
                        </td>
                        <td>
                            {{ item.action }}
                        </td>
                        <td>
                            {{ item.description }}
                        </td>
                        <td class="p-1 my-auto">
                            <Link v-if="$can('permission-delete')" as="button" method="delete" :href="route('admin.permissions.destroy', item.id)" class="btn btn-sm p-0">
                                <Ico scale="30" name="delete_forever" class="text-danger"/>
                            </Link>
                        </td>
                    </tr>
                </Table>
            </div>

            <Pagination :links="props.permissions.links" class="mx-auto my-2"/>
        </div>
    </AdminLayout>
</template>

<style lang="scss" scoped>
.table-responsive {
    height: calc(100vh - 200px);
}
</style>
