<script setup>
import Button from '@/Components/Button.vue';
import DropdownMenu from '@/Components/DropdownMenu.vue';
import { RBACActions } from '@/Compose/enums';

defineEmits(['submit']);
defineProps({
    object: String
});
</script>

<template>
    <div v-if="$canAnyObject(object, RBACActions.create, RBACActions.update)" class="btn-group">
        <Button
            type="submit"
            @click="$emit('submit', 'edit')"
            v-html="$t('Save')"/>
        <Button toggle="dropdown">
            <span class="visually-hidden">Toggle Dropdown</span>
        </Button>
        <DropdownMenu>
            <li>
                <Button
                    type="submit"
                    @click="$emit('submit', 'close')"
                    v-html="`${$t('Save')} & ${$t('Close')}`"
                    class="dropdown-item"/>
                <Button
                    v-if="$can(object+'-'+RBACActions.create)"
                    type="submit"
                    @click="$emit('submit', 'create')"
                    v-html="`${$t('Save')} & ${$t('Create')}`"
                    class="dropdown-item"/>
            </li>
        </DropdownMenu>
    </div>
</template>

<style scoped>

</style>
