<script setup>
import { computed, ref } from 'vue';
import { useForm } from '@inertiajs/vue3';
import { isEmpty } from 'lodash';
import Ico from '@/Components/Ico.vue';
import Input from '@/Components/Input.vue';
import Close from '@/Components/Close.vue';
import Toggle from '@/Components/Toggle.vue';
import Button from '@/Components/Button.vue';
import Select from '@/Components/Select.vue';

const emit = defineEmits(['filter', 'clear', 'close']);
// Fill data
const props = defineProps({
    url: String,
    perPage: {
        type: Number,
        default: 20
    },
    perPageValues: {
        type: Array,
        default: [20, 40, 60, 80]
    },
    fields: Object
});

const form = useForm('Index', {
    perPage: route().params?.perPage ?? props.perPage,
    where: {
        ...Object.keys(props.fields).reduce((accumulator, currentValue) => {
            accumulator[currentValue] = route().params.where?.[currentValue] ?? null;
            return accumulator;
        }, {})
    }
});
// States
const isFilled = computed(() => {
    for (const key in form.where) {
        if (!isEmpty(form.where[key])) return true;
    }
    return false
})
// Actions
const show = ref(false);
function close() {
    show.value = false;
    emit('close');
}

function clear(key = null) {
    isEmpty(key)
        ? Object.keys(props.fields).forEach((item => form.where[item] = null))
        : form.where[key] = null;

    filterData();
    emit('clear');
}

function filterData() {
    form.get(props.url, {
        onSuccess: () => emit('filter', form.data())
    });
}
</script>

<template>
    <div class="d-flex gap-1">
        <div class="input-group input-group-sm bg-white">
            <div class="form-control">
                <template v-for="(value, key) in props.fields">
                    <span v-if="!isEmpty(form.where[key])" class="badge text-bg-primary mb-1 align-middle" :key="key">
                        {{ $t(value.title)+': '+form.where[key] }}
                        <Close white class="ms-1 p-0 align-bottom" @click="clear(key)"/>
                    </span>
                </template>
            </div>
            <div class="search-dropdown bg-white border p-1" :class="{show}">
                <div v-if="Object.keys(props.fields).length > 0" class="row g-2">
                    <div v-for="(value, key) in props.fields" :key="key" class="col-12 col-md-6" :class="{'pt-1': value.type === 'check'}">
                        <Toggle v-if="value.type === 'check'" :label="$t(value.title)"/>
                        <Select v-else-if="value.type === 'select'" scale="sm" :source="value.source" v-model="form.where[key]" :placeholder="$t(value.title)"/>
                        <Input v-else scale="sm" :type="value?.type" v-model="form.where[key]" :placeholder="$t(value.title)"/>
                    </div>
                </div>
                <div class="d-flex gap-1 justify-content-end pt-1">
                    <Button scale="sm" color="secondary" @click="close">{{ $t('Close') }}</Button>
                    <Button scale="sm" color="success" @click="filterData" :disabled="!isFilled">{{ $t('Apply') }}</Button>
                </div>
            </div>
            <Button color="secondary" outline @click="show = !show">
                <Ico name="manage_search" scale="21"/>
            </Button>
            <Button color="danger" outline @click="clear()" :disabled="!isFilled">
                <Ico name="search_off" scale="21"/>
            </Button>
        </div>
        <Select :source="props.perPageValues" v-model="form.perPage" @change="filterData" scale="sm" style="width: 4rem;"/>
    </div>
</template>

<style lang="scss" scoped>
@import "resources/sass/management-base";
$search-bar-height: 31px;

.input-group, .form-control {
    max-height: 31px;
}

.form-control {
    overflow: clip;

    .badge:not(:first-child) {
        margin-left: .25rem;
    }
}

.search-dropdown {
    z-index: $zindex-popover;
    position: absolute !important;
    display: none !important;
    width: 100% !important;
    top: $search-bar-height;

    &.show {
        display: block !important;
    }
}
</style>
