<script setup>
import Ico from '@/Components/Ico.vue';
import Accordion from '@/Components/Accordion.vue';
import AccordionItem from '@/Components/AccordionItem.vue';
import ListGroup from '@/Components/ListGroup.vue';
import ListGroupItem from '@/Components/ListGroupItem.vue';
</script>

<template>
    <Accordion id="manageBar" flush>
        <AccordionItem v-if="$can('management-view')" name="settings" show>
            <template #header>
                <Ico name="settings" size="20"/><span class="mx-2">{{ $t('System') }}</span>
            </template>
            <ListGroup flush>
                <ListGroupItem
                    v-if="$can('route-view')"
                    tag="link"
                    :href="route('management.routes')"
                    :active="route().current('management.routes')" action>
                    <Ico name="route" class="me-2"/>{{ $t('Routes') }}
                </ListGroupItem>
            </ListGroup>
        </AccordionItem>
        <AccordionItem v-if="$can('security-view')" name="security" show>
            <template #header>
                <Ico name="security" size="20"/><span class="mx-2">{{ $t('Security') }}</span>
            </template>
            <ListGroup flush>
                <ListGroupItem
                    v-if="$can('user-viewAny')"
                    tag="link"
                    :href="route('management.users.index')"
                    :active="route().current('management.users.*')" action>
                    <Ico name="person" class="me-2"/>{{ $t('Users') }}
                </ListGroupItem>
                <ListGroupItem
                    v-if="$can('role-viewAny')"
                    tag="link"
                    :href="route('management.roles.index')"
                    :active="route().current('management.roles.*')" action>
                    <Ico name="group" class="me-2"/>{{ $t('Roles') }}
                </ListGroupItem>
                <ListGroupItem
                    v-if="$can('permission-viewAny')"
                    tag="link"
                    :href="route('management.permissions.index')"
                    :active="route().current('management.permissions.*')" action>
                    <Ico name="rule" class="me-2"/>{{ $t('Permissions') }}
                </ListGroupItem>
            </ListGroup>
        </AccordionItem>
        <AccordionItem v-if="$can('content-view')" name="content" show>
            <template #header>
                <Ico name="assignment" size="20"/><span class="mx-2">{{ $t('Content') }}</span>
            </template>
            <ListGroup flush>
                <ListGroupItem tag="link" href="#" action>
                    <Ico name="cases" class="me-2"/>{{ $t('Document groups') }}
                </ListGroupItem>
                <ListGroupItem tag="link" href="#" action>
                    <Ico name="article" class="me-2"/>{{ $t('Documents') }}
                </ListGroupItem>
            </ListGroup>
        </AccordionItem>
    </Accordion>
</template>

<style scoped>

</style>
