@import "management-base";
// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
//@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
//@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
//@import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

#app {
    padding-top: 56px;
    background-color: $gray-300 !important;
}

.min-vh-navbar {
    min-height: calc(100vh - 56px);
}

textarea.form-control[rows="1"] {
    height: 38px;
}

ol.breadcrumb {
    @extend .bg-light, .mt-2, .pb-2, .pt-1, .px-2;
}

.w-1 {
    width: 1% !important;
}
// Navbar Top
#manageBarOffcanvasToggler {
    position: fixed;
    z-index: 3000 !important;
}

@media (min-width: 768px) {
    #manageBarOffcanvasToggler {
        display: none !important;
    }
}

// Content
.index-actions {
    @extend .d-flex, .justify-content-end, .justify-content-md-start, .gap-1, .mt-auto;
}

.content-item {
    @extend .overflow-auto
}

@media (max-width: 767px) {
    .content-item {
        padding-top: 2.5rem !important;
    }
}
