<script setup>
import { ref } from 'vue';
import { useForm } from '@inertiajs/vue3';
import Button from '@/Components/Button.vue';
import Modal from '@/Components/Modal.vue';
import FormGroup from '@/Components/FormGroup.vue';
import Input from '@/Components/Input.vue';
import InputError from '@/Components/InputError.vue';

const modalDelete = ref(null);
const passwordInput = ref(null);

const form = useForm({
    password: '',
});

const deleteUser = () => {
    form.delete(route('profile.destroy'), {
        preserveScroll: true,
        onSuccess: () => modalDelete.value.hide(),
        onError: () => passwordInput.value.focus(),
        onFinish: () => form.reset(),
    });
};
</script>

<template>
    <section>
        <header>
            <h2 class="text-body" v-html="$t('Delete account')"></h2>

            <small class="d-block text-secondary mb-2" v-html="$t('texts.before_deleting_account')"></small>
        </header>

        <Button color="danger" toggle="modal" target="#modalDelete">{{ $t('Delete account') }}</Button>

        <Modal ref="modalDelete" id="modalDelete" @hide="form.reset()" centered>
            <h5 class="text-dark mb-1" v-html="$t('texts.sure_delete_account')"></h5>
            <p class="text-muted mb-2" v-html="$t('texts.before_deleting_account_password')"></p>
            <FormGroup for="password" :label="$t('Password')">
                <Input
                    autofocus
                    id="password"
                    ref="passwordInput"
                    v-model="form.password"
                    type="password"
                    placeholder="Password"
                    @keyup.enter="deleteUser"
                />
                <InputError tooltip :message="form.errors.password"/>
            </FormGroup>

            <div class="d-flex justify-content-end gap-2">
                <Button color="secondary" dismiss="modal">
                    {{ $t('Cancel') }}
                </Button>
                <Button color="danger" :class="{ 'opacity-25': form.processing }" :disabled="form.processing" @click="deleteUser">
                    {{ $t('Delete account') }}
                </Button>
            </div>
        </Modal>
    </section>
</template>
