<script setup>
import { useForm } from '@inertiajs/vue3';
import { ref } from 'vue';
import Form from '@/Components/Form.vue';
import FormGroup from '@/Components/FormGroup.vue';
import Input from '@/Components/Input.vue';
import Button from '@/Components/Button.vue';

const passwordInput = ref(null);
const currentPasswordInput = ref(null);

const form = useForm({
    current_password: '',
    password: '',
    password_confirmation: '',
});

const updatePassword = () => {
    form.put(route('password.update'), {
        preserveScroll: true,
        onSuccess: () => form.reset(),
        onError: () => {
            if (form.errors.password) {
                form.reset('password', 'password_confirmation');
                passwordInput.value.focus();
            }
            if (form.errors.current_password) {
                form.reset('current_password');
                currentPasswordInput.value.focus();
            }
        },
    });
};
</script>

<template>
    <section>
        <header>
            <h2 class="text-body" v-html="$t('Update password')"></h2>

            <small class="text-secondary" v-html="$t('texts.ensure_password_secure')"></small>
        </header>

        <Form :form="form" @submit.prevent="updatePassword" class="row gx-2">
            <FormGroup for="current_password" :label="$t('Current Password')" class="col-12">
                <Input
                    type="password"
                    id="current_password"
                    ref="currentPasswordInput"
                    v-model="form.current_password"
                    autocomplete="current-password"
                />
            </FormGroup>
            <FormGroup for="password" :label="$t('New password')" class="col-md-6">
                <Input
                    type="password"
                    id="password"
                    ref="passwordInput"
                    v-model="form.password"
                    autocomplete="new-password"
                />
            </FormGroup>
            <FormGroup for="password_confirmation" :label="$t('Confirm Password')" class="col-md-6">
                <Input
                    type="password"
                    id="password_confirmation"
                    ref="passwordInput"
                    v-model="form.password_confirmation"
                    autocomplete="new-password"
                />
            </FormGroup>

            <div class="d-flex justify-content-end">
                <Transition enter-from-class="opacity-0" leave-to-class="opacity-0" class="transition ease-in-out">
                    <p v-if="form.recentlySuccessful" class="text-sm text-gray-600">{{ $t('Saved') }}.</p>
                </Transition>
                <Button type="submit" color="primary" :disabled="form.processing">{{ $t('Save') }}</Button>
            </div>
        </Form>
    </section>
</template>
