<script setup>
import { Link, useForm, usePage } from '@inertiajs/vue3';
import Form from '@/Components/Form.vue';
import FormGroup from '@/Components/FormGroup.vue';
import Input from '@/Components/Input.vue';
import Button from '@/Components/Button.vue';

defineProps({
    mustVerifyEmail: {
        type: Boolean,
    },
    status: {
        type: String,
    },
});

const user = usePage().props.auth.user;

const form = useForm({
    name: user.name,
    email: user.email,
});
</script>

<template>
    <section>
        <header>
            <h2 class="text-body" v-html="$t('Profile information')"></h2>
            <small class="text-secondary" v-html="$t('texts.profile_information')"></small>
        </header>

        <Form :form="form" @submit.prevent="form.patch(route('profile.update'))">
            <Row :gx="{ xs: 2 }" :grid="{ xs: 1, md: 2 }">
                <FormGroup for="name" :label="$t('Name')" class="col">
                    <Input id="name" v-model="form.name" required autofocus autocomplete="name"/>
                </FormGroup>
                <FormGroup for="email" :label="$t('Email')" class="col">
                    <Input id="email" v-model="form.email" required autocomplete="username"/>
                </FormGroup>
            </Row>

            <div v-if="mustVerifyEmail && user.email_verified_at === null">
                <p class="text-secondary mb-2">
                    {{ $t('texts.email_unverified') }}
                    <Link as="button" method="post" :href="route('verification.send')" class="btn btn-sm btn-success">
                        {{ $t('texts.re-send_verification_email') }}
                    </Link>
                </p>

                <small v-show="status === 'verification-link-sent'" class="text-success" v-html="$t('texts.verification_link_re-sent')"></small>
            </div>

            <div class="d-flex justify-content-end">
                <Transition enter-from-class="opacity-0" leave-to-class="opacity-0" class="transition ease-in-out">
                    <small v-if="form.recentlySuccessful" class="text-secondary">{{ $t('Saved') }}.</small>
                </Transition>
                <Button type="submit" color="primary" :disabled="form.processing">{{ $t('Save') }}</Button>
            </div>
        </Form>
    </section>
</template>
