<script setup>
import { Link } from '@inertiajs/vue3';
import Ico from '@/Components/Ico.vue';

defineProps({
    url: {
        type: String,
        required: true,
    }
});
const params = route().params;
delete params?.order;
</script>

<template>
    <Link :href="url" :data="params" class="btn btn-light p-0 m-0">
        <Ico name="filter_list_off" scale="23"/>
    </Link>
</template>
