<script setup>
import { Link } from '@inertiajs/vue3';
import Ico from '@/Components/Ico.vue';
import { computed } from 'vue';

const props = defineProps({
    url: {
        type: String,
        required: true,
    },
    field: {
        type: String,
        required: true,
    },
});

const currentOrder = computed(() => {
    return route().params?.order?.[props.field] ?? '';
});
const direction = computed(() => {
    switch (currentOrder.value) {
        case '': return 'asc';
        case 'asc': return 'desc';
        case 'desc': return ''
    }
});
</script>

<template>
    <Link
        :href="props.url"
        :data="{order: {[props.field]: direction}}"
        :class="['ico-order', {[currentOrder]: Boolean(currentOrder)}]"
    >
        <Ico name="sort" scale="23"/>
    </Link>
</template>

<style lang="scss" scoped>
.ico-order {
    color: var(--bs-gray-500);
    text-decoration: none;
    cursor: pointer;

    &.asc {
        transform: rotate(180deg);
        color: var(--bs-green) !important;
    }
    &.desc {
        transform: rotate(0deg);
        color: var(--bs-green) !important;
    }
}
</style>
