<script setup>
import { computed, ref } from 'vue';
import { useForm } from '@inertiajs/vue3';
import { isEmpty } from 'lodash';
import Ico from '@/Components/Ico.vue';
import Input from '@/Components/Input.vue';
import Close from '@/Components/Close.vue';
import Toggle from '@/Components/Toggle.vue';
import Button from '@/Components/Button.vue';
import Select from '@/Components/Select.vue';

const emit = defineEmits(['filter', 'clear', 'close']);
// Fill data
const props = defineProps({
    url: String,
    perPage: {
        type: Number,
        default: 20
    },
    perPageValues: {
        type: Array,
        default: [20, 40, 60, 80]
    },
    memberKey: {
        type: String,
        default: null,
    },
    like: {
        type: Object,
        default: {},
    },
    where: {
        type: Object,
        default: {},
    },
});

function conditionsToFields(fields, condition) {
    return {
        ...Object.keys(fields).reduce((accumulator, currentValue) => {
            accumulator[currentValue] = route().params?.[condition]?.[currentValue] ?? null;
            return accumulator;
        }, {})
    }
}

const form = useForm('FilterBar-' + props.memberKey, {
    perPage: route().params?.perPage ?? props.perPage,
    like: conditionsToFields(props.like, 'like'),
    where: conditionsToFields(props.where, 'where'),
});
// States
const isFilled = computed(() => {
    for (const key in form.like) {
        if (!isEmpty(form.like[key])) return true;
    }
    for (const key in form.where) {
        if (!isEmpty(form.where[key])) return true;
    }
    return false
})
// Actions
const show = ref(false);
function close() {
    show.value = false;
    emit('close');
}

function clear(key = null) {
    if (isEmpty(key)) {
        Object.keys(props.like).forEach((item => form.like[item] = null));
        Object.keys(props.where).forEach((item => form.where[item] = null));
    } else {
        if (key in form.like) form.like[key] = null;
        if (key in form.where) form.where[key] = null;
    }

    filterData();
    emit('clear');
}

function filterData() {
    form.get(props.url, {
        onSuccess: () => emit('filter', form.data())
    });
}
</script>

<template>
    <div class="d-flex gap-1">
        <div class="input-group input-group-sm bg-white">
            <div class="form-control border-secondary">
                <template v-for="condition in ['like', 'where']">
                    <template v-for="(value, key) in props[condition]">
                    <span v-if="!isEmpty(form[condition][key])" class="badge text-bg-primary mb-1 align-middle" :key="key">
                        {{ $t(value.title)+': '+form[condition][key] }}
                        <Close white class="ms-1 p-0 align-bottom" @click="clear(key)"/>
                    </span>
                    </template>
                </template>
            </div>
            <div class="search-dropdown bg-white border p-1" :class="{show}">
                <div class="row g-2">
                    <template v-for="condition in ['like', 'where']">
                        <template v-if="Object.keys(props[condition]).length > 0">
                            <div v-for="(value, key) in props[condition]" :key="key" class="col-12 col-md-6" :class="{'pt-1': value.type === 'check'}">
                                <Toggle v-if="value.type === 'check'" :label="$t(value.title)"/>
                                <Select v-else-if="value.type === 'select'" scale="sm" :source="value.source" v-model="form[condition][key]" :placeholder="$t(value.title)"/>
                                <Input v-else scale="sm" :type="value?.type" v-model="form[condition][key]" :placeholder="$t(value.title)"/>
                            </div>
                        </template>
                    </template>
                </div>
                <div class="d-flex gap-1 justify-content-end pt-1">
                    <Button scale="sm" color="secondary" @click="close">{{ $t('Close') }}</Button>
                    <Button scale="sm" color="success" @click="filterData" :disabled="!isFilled">{{ $t('Apply') }}</Button>
                </div>
            </div>
            <Button color="secondary" outline @click="show = !show">
                <Ico name="manage_search" scale="21"/>
            </Button>
            <Button color="danger" outline @click="clear()" :disabled="!isFilled">
                <Ico name="search_off" scale="21"/>
            </Button>
        </div>
        <Select :source="props.perPageValues" v-model="form.perPage" @change="filterData" scale="sm" style="width: 4rem;" class="border-secondary"/>
    </div>
</template>

<style lang="scss" scoped>
$search-bar-height: 31px;

.input-group, .form-control {
    max-height: 31px;
}

.form-control {
    overflow: clip;

    .badge:not(:first-child) {
        margin-left: .25rem;
    }
}

.search-dropdown {
    z-index: $zindex-popover;
    position: absolute !important;
    display: none !important;
    width: 100% !important;
    top: $search-bar-height;

    &.show {
        display: block !important;
    }
}
</style>
