<script setup>
import Button from '@/Components/Button.vue';
import Ico from '@/Components/Ico.vue';

const props = defineProps({
    data: {
        type: [Array, Object],
        default: [],
    },
    toggle: String,
    target: String,
});

function icoName(type) {
    switch (type) {
        case 'menu': return 'menu';
        case 'menuItem': return 'list'
    }
}
</script>

<template>
    <li v-for="(item, index) in props.data" :key="'tree-item-' + item.id">
        <div class="m-1 p-1 d-flex flex-row gap-2 bg-light" :data-id="item.id">
            <Ico :name="icoName(item.type)"/>
            <span
                v-html="item.name[$page.props.locale]"
                class="item-name"
                :data-bs-toggle="props.toggle"
                :data-bs-target="props.target"
            />
            <Button scale="sm" color="danger" class="p-0">
                <Ico name="delete"/>
            </Button>
            <Button v-if="item.children?.length > 0" scale="sm" toggle="collapse" :target="`#collapse-${item.id}`" class="p-0 btn-collapse collapsed">
                <Ico name="expand_more" class="ico-collapse"/>
            </Button>
        </div>
        <ul v-if="item.children" class="collapse" :id="`collapse-${item.id}`">
            <MenuTreeItem :data="item.children" :toggle="props.toggle" :target="props.target"/>
        </ul>
    </li>
</template>

<style lang="scss" scoped>
@import "../../../scss/admin-base";
@import "~bootstrap/scss/utilities/api";

ul {
    margin-bottom: 0 !important;
    li {
        .item-name {
            @extend .flex-fill, .cursor-pointer, .px-1;
            &:hover,:focus {
                @extend .bg-success-subtle;
            }
        }
        .btn-collapse {
            &:not(.collapsed) > .ico-collapse {
                transform: rotate(180deg);
            }
        }
    }
}
</style>
