<script setup>
import { onBeforeUnmount, onMounted, ref, toRaw } from 'vue';
import MenuTreeItem from '@/Elements/Admin/MenuTreeItem.vue';
import { findRecursive } from '@/Composable/core';

const emit = defineEmits(['clickName']);
const props = defineProps({
    data: {
        type: [Array, Object],
        default: [],
    },
    toggle: String,
    target: String,
});

const tree = ref(null);

function onNodeClick(event) {
    const id = parseInt(event.target.parentElement.dataset.id);
    const item = findRecursive(props.data, {id});
    emit('clickName', item);
}

onMounted(() => {
    let nodes = tree.value.querySelectorAll('li .item-name');
    for (const node of nodes) {
        node.addEventListener('click', onNodeClick);
    }
});

onBeforeUnmount(() => {
    let nodes = tree.value.querySelectorAll('li .item-name');
    for (const node of nodes) {
        node.removeEventListener('click', onNodeClick);
    }
});
</script>

<template>
    <ul ref="tree">
        <MenuTreeItem :data="data" :toggle="props.toggle" :target="props.target"/>
    </ul>
</template>

<style scoped>

</style>
