<script setup>
import { Link } from '@inertiajs/vue3';
import Ico from '@/Components/Ico.vue';
import Accordion from '@/Components/Accordion.vue';
import AccordionItem from '@/Components/AccordionItem.vue';
import ListGroup from '@/Components/ListGroup.vue';
import ListGroupItem from '@/Components/ListGroupItem.vue';

import config from '../../../config/admin/sidebar.json';
</script>

<template>
    <Accordion id="manageBar" flush>
        <template v-for="(item, index) in config">
            <AccordionItem v-if="item.group && $can(item.can)" :name="item.name" show :key="`sidebar-item-${index}`">
                <template #header>
                    <Ico :name="item.ico.name" size="20"/><span class="mx-2">{{ $t(item.ico.translate) }}</span>
                </template>
                <ListGroup flush>
                    <template v-for="(action, i) in item.actions">
                        <ListGroupItem
                            v-if="$can(action.can)"
                            tag="link"
                            :href="route(action.route)"
                            :active="route().current(action.active_route ?? action.route)"
                            action
                            :key="`sidebar-item-${index}-${i}`"
                        >
                            <Ico :name="action.ico.name" class="me-2"/>
                            {{ $t(action.ico.translate) }}
                        </ListGroupItem>
                    </template>
                </ListGroup>
            </AccordionItem>
            <ListGroupItem
                v-else-if="$can(item.can)"
                class="accordion-item-action"
                tag="link"
                :href="route(item.route)"
                :active="route().current(item.route)"
                action
                :key="`sidebar-item-${index}-${item.route}`"
            >
                <Ico :name="item.ico.name" class="me-2" size="20"/>
                {{ $t(item.ico.translate) }}
            </ListGroupItem>
<!--            <h2 class="accordion-item-action list-group-item" :class="{ active: route().current(item.route) }" v-else-if="$can(item.can)">-->
<!--                <Link :href="route(item.route) ?? '#'" :class="['accordion-button', 'bg-transparent']" :name="item.name" show>-->
<!--                    <Ico :name="item.ico.name" size="20"/><span class="mx-2">{{ $t(item.ico.translate) }}</span>-->
<!--                </Link>-->
<!--            </h2>-->
        </template>
    </Accordion>
</template>

<style lang="scss" scoped>
@import "~bootstrap/scss/accordion";

.accordion-item-action {
    padding: 1rem;
    border-width: 0 0 var(--bs-list-group-border-width) !important;

    &.active {
        color: $gray-100;
        background-color: #0D6EFDFF;
    }
}
//.accordion-item-action {
//    @extend .accordion-header;
//    display: flex;
//
//    .accordion-button {
//        &:after {
//            content: none;
//        }
//    }
//}
</style>
