<script setup>
import { Head } from '@inertiajs/vue3';
import AppLayout from '@/Layouts/AppLayout.vue';
import Card from '@/Components/Card.vue';
</script>

<template>
    <Head title="Dashboard"/>

    <AppLayout>
        <Col :grid="{ md: 4, lg: 3 }" class="mx-auto mt-5">
            <Card>
                <template #body>
                    You're logged in!
                </template>
            </Card>
        </Col>
    </AppLayout>
</template>
