<script setup>
import { Head } from '@inertiajs/vue3';
import AppLayout from '@/Layouts/AppLayout.vue';
</script>

<template>
    <Head title="Welcome"/>

    <AppLayout>
        <div class="text-white fixed-bottom text-center">
            Laravel v{{ $page.props.laravelVersion }} (PHP v{{ $page.props.phpVersion }})
        </div>
    </AppLayout>
</template>
