<script setup>
import { Head, useForm } from '@inertiajs/vue3';
import AdminLayout from '@/Layouts/AdminLayout.vue';
import Ico from '@/Components/Ico.vue';
import Form from '@/Components/Form.vue';
import FormGroup from '@/Components/FormGroup.vue';
import ListGroup from '@/Components/ListGroup.vue';
import ListGroupItem from '@/Components/ListGroupItem.vue';
import Input from '@/Components/Input.vue';
import Button from '@/Components/Button.vue';
import Toggle from '@/Components/Toggle.vue';
import CRUDSubmit from '@/Elements/Admin/CRUDSubmit.vue';
import { decomposeModel } from '@/Composable/database';

const props = defineProps({
    user: {
        type: Object,
        default: {
            name: null,
            email: null,
            password: null,
            created_at: null,
            updated_at: null,
            password_confirmation: null,
        },
    },
    roles: {
        type: Array,
        default: [],
    },
});
const form = useForm({
    _redirect: 'edit',
    ...decomposeModel(props.user, ['roles']),
});
function submit() {
    form.submit(
        props.user.id ? 'put' : 'post',
        props.user?.id ? route('admin.users.update', props.user?.id) : route('admin.users.store'),
    )
}
</script>

<template>
    <Head :title="$t('Users')+'-'+$t('Edit')"/>

    <AdminLayout>
        <Form :form="form" @submit.prevent="submit" class="row pt-3 content-item">
            <Col tag="fieldset" :grid="{md: 8}">
                <Row g="2">
                    <FormGroup for="created_at" :label="$t('Created at')" class="col-md-6">
                        <Input type="datetime-local" id="created_at" v-model="props.user.created_at" disabled/>
                    </FormGroup>
                    <FormGroup for="updated_at" :label="$t('Updated at')" class="col-md-6">
                        <Input type="datetime-local" id="updated_at" v-model="props.user.updated_at" disabled/>
                    </FormGroup>

                    <FormGroup for="name" :label="$t('Name')">
                        <Input id="name" v-model="form.name" required autofocus/>
                    </FormGroup>
                    <FormGroup for="email" :label="$t('Email')">
                        <Input id="email" type="email" v-model="form.email" required/>
                    </FormGroup>
                    <FormGroup for="password" :label="$t('Password')" :mb="{xs: 3, md: 0}" class="col-md-6">
                        <Input id="password" type="password" v-model="form.password"/>
                    </FormGroup>
                    <FormGroup for="password_confirmation" :label="$t('Confirm Password')" :mb="{xs: 3, md: 0}" class="col-md-6">
                        <Input type="password" id="password_confirmation" v-model="form.password_confirmation"/>
                    </FormGroup>
                </Row>
            </Col>
            <Col tag="fieldset">
                <ListGroup class="h-100 bg-white">
                    <ListGroupItem v-for="role in props.roles" :key="role.id" class="d-flex">
                        <Toggle type="switch" :value="role.id" name="roles" :label="role.name" v-model="form.roles"/>
                        <Ico v-if="role.system" name="memory" class="ms-auto text-secondary"/>
                    </ListGroupItem>
                </ListGroup>
            </Col>
            <Col grid="12" class="py-3">
                <div class="d-flex justify-content-end gap-2">
                    <Button tag="link" color="secondary" outline :href="route('admin.users.index')" v-html="$t('Close')"/>
                    <CRUDSubmit object="user" @submit="action => form._redirect = action"/>
                </div>
            </Col>
        </Form>
    </AdminLayout>
</template>
