<script setup>
defineProps({
    flush: {
        type: Boolean,
        required: false,
    }
})
</script>

<template>
    <div :class="['accordion', {'accordion-flush': flush}]">
        <slot/>
    </div>
</template>
