<script setup>
import { computed } from "vue";

const props = defineProps({
    parent: {
        type: String,
    },
    name: {
        type: String,
        required: true,
    },
    show: {
        type: Boolean,
        default: false
    }
});

const headerId = computed(() => `accordion-header-${props.name.toUpperCase()}`);
const collapseId = computed(() => `accordion-collapse-${props.name.toUpperCase()}`);
</script>

<template>
    <div class="accordion-item">
        <h2 class="accordion-header" :id="headerId">
            <button
                type="button"
                :class="['accordion-button', {'collapsed': !show}]"
                data-bs-toggle="collapse"
                :data-bs-target="`#${collapseId}`"
                :aria-expanded="show"
                :aria-controls="collapseId">
                <slot name="header"/>
            </button>
        </h2>
        <div :id="collapseId" :class="['accordion-collapse', 'collapse', {show}]" :aria-labelledby="headerId" :data-bs-parent="parent">
            <slot/>
            <div v-if="$slots.body" class="accordion-body">
                <slot name="body"/>
            </div>
        </div>
    </div>
</template>
