<script setup>
import { computed } from "vue";
import { Link } from '@inertiajs/vue3';

const props = defineProps({
    source: {
        type: [Object, Array],
        default: undefined
    }
})

const count = computed(() => Object.keys(props.source).length)
</script>

<template>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <template v-for="(value, key, index) in source">
                <li v-if="count === index + 1" class="breadcrumb-item active" aria-current="page">{{ $t(key) }}</li>
                <li v-else class="breadcrumb-item">
                    <Link v-if="value" :href="route(value)" v-html="$t(key)"/>
                    <template v-else>{{ $t(key) }}</template>
                </li>
            </template>
            <slot/>
        </ol>
    </nav>
</template>
