<script setup>
import { reactive } from 'vue';
import { Link } from '@inertiajs/vue3';
import { makeBreakpointClass } from '@/Composable/bootstrap';

const props = defineProps({
    tag: {
        type: String,
        default: 'button',
    },
    href: {
        type: String,
        default: '#',
    },
    type: {
        type: String,
        default: 'button',
    },
    scale: {
        type: String,
        default: undefined,
    },
    outline: {
        type: Boolean,
        default: false,
    },
    color: {
        type: String,
        default: 'primary',
    },
    disabled: Boolean,
    dismiss: String,
    toggle: String,
    target: String,
})

const classArray = reactive([
    'btn',
    props.scale ? 'btn-' + props.scale : '',
    props.color ? makeBreakpointClass(props.outline ? 'btn-outline' : 'btn', props.color) : '',
    { 'dropdown-toggle': props.toggle === 'dropdown' },
    { disabled: props.disabled && ['a', 'link'].includes(props.tag) }
])
</script>

<template>
    <a
        v-if="props.tag === 'a'"
        :href="props.href"
        :class="classArray"
        :data-bs-toggle="props.toggle"
        :data-bs-target="props.target"
        :data-bs-dismiss="props.dismiss"
        role="button"
        :aria-disabled="props.disabled"
    >
        <slot/>
    </a>
    <component
        v-else-if="['button', 'input'].includes(props.tag)"
        :is="props.tag"
        :type="props.type"
        :class="classArray"
        :data-bs-toggle="props.toggle"
        :data-bs-target="props.target"
        :data-bs-dismiss="props.dismiss"
        :disabled="props.disabled"
    >
        <slot/>
    </component>
    <Link
        v-else-if="props.tag === 'link'"
        :href="props.href"
        :class="classArray"
        :data-bs-toggle="props.toggle"
        :data-bs-target="props.target"
        :data-bs-dismiss="props.dismiss"
        role="button"
        :aria-disabled="props.disabled"
    >
        <slot/>
    </Link>
</template>
