<script setup>
const props = defineProps({
    tag: {
        type: String,
        default: 'div',
    }
})
</script>

<template>
    <component :is="props.tag" class="card">
        <div v-if="$slots.header" class="card-header">
            <slot name="header"/>
        </div>
        <div v-if="$slots.body" class="card-body">
            <slot name="body"/>
        </div>
        <div v-if="$slots.footer" class="card-footer">
            <slot name="footer"/>
        </div>
        <slot/>
    </component>
</template>
