<script setup>
defineProps({
    white: Boolean,
    dismiss: String,
    disabled: Boolean,
});
</script>

<template>
    <button
        type="button"
        :class="['btn-close', white ? 'btn-close-white' : '']"
        aria-label="Close"
        :data-bs-dismiss="dismiss"
        :disabled="disabled">
    </button>
</template>
