<script setup>
import { makeBreakpointClass } from '@/Composable/bootstrap';

const props = defineProps({
    tag: {
        type: String,
        default: 'div',
    },
    grid: {
        type: [String, Array, Object],
        default: undefined,
    },
    align: {
        type: [String, Array, Object],
        default: undefined,
    },
    order: {
        type: [String, Array, Object],
        default: undefined,
    },
    offset: {
        type: [String, Array, Object],
        default: undefined,
    },
})
</script>

<template>
    <component
        :is="props.tag"
        :class="[
            makeBreakpointClass('col', props.grid, 'col'),
            makeBreakpointClass('align-self', props.align),
            makeBreakpointClass('order', props.order),
            makeBreakpointClass('offset', props.offset),
        ]">
        <slot/>
    </component>
</template>
