<script setup>
import { computed } from 'vue';

const props = defineProps({
    tag: {
        type: String,
        default: 'div',
    },
    direction: {
        type: String,
        default: 'down',
    }
});

const componentClass = computed(() => {
    if (props.direction === 'down') {
        return 'dropdown';
    }
    else if (props.direction === 'center') {
        return 'dropdown-center';
    }
    else if (props.direction === 'up') {
        return 'dropup';
    }
    else if (props.direction === 'up-center') {
        return 'dropup-center dropup';
    }
    else if (props.direction === 'end') {
        return 'dropend';
    }
    else if (props.direction === 'start') {
        return 'dropstart';
    }
});
</script>

<template>
    <component :is="props.tag" :class="componentClass">
        <slot/>
    </component>
</template>
