<script setup>
import { makeBreakpointClass } from '@/Composable/bootstrap';

defineProps({
    alignment: [String, Array, Object],
});
</script>

<template>
    <ul :class="['dropdown-menu', makeBreakpointClass('dropdown-menu', alignment)]">
        <slot/>
    </ul>
</template>

<style scoped>

</style>
