<script setup>
import { Link } from '@inertiajs/vue3';

defineProps({
    tag: {
        type: String,
        default: 'h6'
    },
    type: {
        type: String,
        default: 'link'
    },
    as: String,
    method: String,
    href: {
        type: String,
        default: '#',
    },
    active: Boolean,
    disabled: Boolean,
});
</script>

<template>
    <li>
        <Link v-if="type === 'link'" :as="as" :method="method" :href="href" :class="['dropdown-item', { active, disabled }]" :aria-current="active">
            <slot />
        </Link>
        <component v-else-if="type === 'header'" :is="tag"  class="dropdown-header">
            <slot/>
        </component>
        <hr v-else-if="type === 'divider'" class="dropdown-divider">
    </li>
</template>
