<script setup>
import { ref, watch } from 'vue';
import { isEqual } from 'lodash';

const elForm = ref(null);
const props = defineProps({
    form: Object
});
const tooltips = {}

function createTooltip(errors) {
    const style = `
        display: flex;
        position: absolute;
        top: 100%;
        z-index: 5;
        max-width: 100%;
        padding: .25rem .5rem;
        margin-top: .1rem;
        font-size: .875rem;
        color: #fff;
        background-color: rgba(220,53,69,.9);
        border-radius: .375rem;
        left: 0;
        `
    let node = document.createElement('div')
    node.style.cssText = style
    let template = '';
    if (Array.isArray(errors)) {
        template = '<ul style="padding: 0;margin: 0;list-style: none;">'
        for (const error of errors) {
            template += `<li>${error}</li>`
        }
        template += `</ul></div>`
    }
    else {
        template = errors;
    }
    node.insertAdjacentHTML('afterbegin', template)

    return node
}

if (props.form) {
    watch(() => props.form.errors, (errors) => {
        for (const key in errors) {
            let controls = elForm.value.querySelectorAll(`[name='${key}']`);
            for (const control of controls) {
                if (errors[key] !== null) {
                    control.classList.add('is-invalid');
                    if (!(key in tooltips)) {
                        tooltips[key] = createTooltip(errors[key]);
                        control.insertAdjacentElement('afterend', tooltips[key]);
                    }
                }
            }
        }
    }, {deep: true, flush: "post"});
    watch(() => props.form.data(), (fields, oldFields) => {
        for (const [key, value] of Object.entries(fields)) {
            if (! isEqual(value, oldFields[key])) {
                let controls = elForm.value.querySelectorAll(`[name='${key}']`);
                for (const control of controls) {
                    control.classList.remove('is-invalid');
                    if (props.form.isDirty && props.form.hasErrors) control.classList.add('is-valid');
                    if (key in tooltips) {
                        tooltips[key].remove();
                        delete tooltips[key];
                    }
                }
            }
        }
    }, {deep: true, flush: "post"});
}
</script>

<template>
    <form ref="elForm">
        <slot/>
    </form>
</template>
