<script setup>
import Label from '@/Components/Label.vue';
import { makeBreakpointClass } from '@/Composable/bootstrap';

const props = defineProps({
    mb: {
        type: [String, Number, Array, Object],
        default: 3,
    },
    for: String,
    label: String,
});
</script>

<template>
    <div :class="['position-relative', makeBreakpointClass('mb', props.mb)]">
        <Label v-if="props.label" :for="props?.for" :label="props.label"/>
        <slot/>
    </div>
</template>
