<script setup>
const props = defineProps({
    message: {
        type: String,
    },
    tooltip: Boolean,
});
</script>

<template>
    <div v-show="message" :class="[tooltip ? 'invalid-tooltip' : 'invalid-feedback']">
        {{ message }}
    </div>
</template>
