<script setup>
defineProps({
    tag: {
        type: String,
        default: 'div'
    },
    scale: String
});
</script>

<template>
  <component :is="tag" :class="['input-group', {[`input-group-${scale}`]: scale}]">
      <slot/>
  </component>
</template>
