<script setup>
defineProps({
    label: {
        type: String,
    },
});
</script>

<template>
    <label class="form-label">
        <template v-if="label">
            {{ label }}
        </template>
        <template v-else>
            <slot />
        </template>
    </label>
</template>
