<script setup>
const props = defineProps({
    tag: {
        type: String,
        default: 'ul',
    },
    flush: {
        type: Boolean,
        default: false,
    },
    numbered: {
        type: Boolean,
        default: false,
    },
    horizontal: {
        type: [Boolean, String],
        default: false,
    }
})

const objectClass = {
    'list-group': true,
    'list-group-flush': props.flush,
    'list-group-numbered': props.numbered,
}

if (typeof props.horizontal === 'string') {
    objectClass[`list-group-horizontal-${props.horizontal}`] = true
}
else {
    objectClass['list-group-horizontal'] = props.horizontal
}
</script>

<template>
    <component :is="props.tag" :class="objectClass">
        <slot/>
    </component>
</template>
