<script setup>
import { Link } from '@inertiajs/vue3';

const props = defineProps({
    tag: {
        type: String,
        default: 'li',
    },
    color: String,
    active: Boolean,
    action: Boolean,
    disabled: Boolean,
})

const objectAttrs = {}
const objectClass = {
    'list-group-item': true,
    'list-group-item-action': props.action,
    [`list-group-item-${props.color}`]: props.color,
    'active': props.active
}
if (props.active)
    objectAttrs['aria-current'] = true
if (props.disabled === true) {
    if (props.tag === 'button') {
        objectAttrs['disabled'] = true
    }
    else {
        objectClass['disabled'] = true
    }
    if (['a', 'button', 'link'].indexOf(props.tag) < 0) {
        objectAttrs['aria-disabled'] = 'true'
    }
}

objectAttrs['class'] = objectClass
</script>

<template>
    <Link v-if="tag === 'link'" v-bind="objectAttrs">
        <slot/>
    </Link>
    <component v-else :is="props.tag" v-bind="objectAttrs">
        <slot/>
    </component>
</template>
