<script setup>
import { computed, ref } from 'vue';
import { usePopupEvents, PopupEvents } from '@/Composable/bootstrap';

const modal = ref(null);
const props = defineProps({
    backdrop: {
        type: [Boolean, String],
        default: true
    },
    keyboard: {
        type: Boolean,
        default: true,
    },
    centered: Boolean,
    animation: {
        type: Boolean,
        default: true,
    },
    scale: String,
    scrollable: Boolean,
    fullscreen: {
        type: [Boolean, String],
        default: false,
    }
});
const emit = defineEmits(PopupEvents);

usePopupEvents(modal, emit, 'modal')

const modalClass = computed(() => ({
    'modal': true,
    'fade': props.animation,
}));
const modalDialogClass = computed(() => [
    'modal-dialog',
    props.scale ? 'modal-' + props.scale : '',
    props.fullscreen === true
        ? 'modal-fullscreen'
        : (typeof props.fullscreen === 'string' ? `modal-fullscreen-${props.fullscreen}-down` : ''),
    {
        'modal-dialog-scrollable': props.scrollable,
        'modal-dialog-centered': props.centered,
    }
]);
</script>

<template>
    <div
        ref="modal"
        :class="modalClass"
        tabindex="-1"
        aria-hidden="true"
        :data-bs-backdrop="props.backdrop"
        :data-bs-keyboard="props.backdrop === 'static' ? false : props.keyboard"
    >
        <div :class="modalDialogClass">
            <div class="modal-content">
                <div v-if="$slots.header" class="modal-header">
                    <slot name="header"/>
                </div>
                <div class="modal-body">
                    <slot/>
                </div>
                <div v-if="$slots.footer" class="modal-footer">
                    <slot name="footer"/>
                </div>
            </div>
        </div>
    </div>
</template>
