<script setup>
import Button from "bootstrap/js/dist/button"
import {computed} from "vue"
import filter from "lodash/filter"
import {multiAttrs, attributesNameId} from "@/Composable/bootstrap"
import {strRandom} from "@/Composable/helpers"

const props = defineProps({
    modelValue: Array,
    id: String,
    name: String,
    data: {
        type: Array,
        default: [],
    },
    scale: {
        type: String,
        default: null
    },
    outline: {
        type: Boolean,
        default: true
    },
    disabled: {
        type: Boolean,
        default: false,
    },
    color: {
        type: String,
        default: 'secondary',
    },
    invalid: String
})
const emit = defineEmits(['update:modelValue'])

const value = computed({
    get() {
        return props.modelValue
    },
    set(value) {
        emit('update:modelValue', value)
    }
})

const buttonAttrs = computed(() => {
    return {
        type: 'button',
        class:
            [
                'btn',
                'dropdown-toggle',
                props.scale ? 'btn-' + props.scale : '',
                props.color ? multiAttrs(props.outline ? 'btn-outline-' : 'btn-', props.color) : '',
                props.invalid ? 'is-invalid' : '',
            ],
        disabled: props.data.length === 0 || props.disabled === true,
        'aria-expanded': 'false',
        'data-bs-toggle': 'dropdown',
        'data-bs-auto-close': 'outside',
    }
})
const {name, id} = attributesNameId(props.name, props.id)
</script>

<template>
    <div :id="id" :name="name" :class="['input-group', props.scale ? `input-group-${props.scale}` : '', {disabled: props.disabled}]">
        <div class="form-control overflow-hidden">
            <span v-for="item in filter(props.data, selected => value.includes(selected.value))" class="badge text-bg-primary">{{ item.label }}</span>
        </div>
        <button v-bind="buttonAttrs"></button>
        <ul v-if="!buttonAttrs.disabled" class="dropdown-menu dropdown-menu-end overflow-auto w-100">
            <li v-for="item in props.data">
                <div class="dropdown-item py-0">
                    <div class="form-check">
                        <input class="form-check-input mt-2" type="checkbox" :id="inputId = strRandom('ms-')" :value="item.value" v-model="value">
                        <label class="form-check-label py-1" :for="inputId">
                            {{ item.label }}
                        </label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<style lang="scss" scoped>
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/forms/form-control";
@import "~bootstrap/scss/forms/form-check";
@import "~bootstrap/scss/forms/input-group";
@import "~bootstrap/scss/forms/validation";
@import "~bootstrap/scss/badge";

fieldset:disabled {
    .input-group {
        > .form-control, .btn {
            background-color: $input-disabled-bg !important;
        }
    }
}
.input-group {
    &.is-valid > .form-control {
        border-color: #198754;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
    &.is-invalid > .form-control {
        border-color: #dc3545;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

    > .btn {
        border: $input-border-width solid $input-border-color;
    }

    &.disabled {
        > .form-control, .btn {
            background-color: $input-disabled-bg !important;
        }
    }
}
.input-group {
    .form-control {
        height: $input-height;
    }
}
.input-group-sm {
    .form-control {
        height: $input-height-sm;
    }
}
.input-group-lg {
    .form-control {
        height: $input-height-lg;
    }
}
.badge {
    margin-bottom: .5rem;
    &:not(:last-child) {
        margin-right: .25rem;
    }
}
.form-check-label {
    display: block;
}
</style>
