<script setup>
import { computed } from 'vue';

const props = defineProps({
    list: Boolean,
    tabs: Boolean,
    fill: Boolean,
    pills: Boolean,
    justified: Boolean,
    navbar: Boolean,
});

const classes = computed(() => [
    props.navbar ? 'navbar-nav' : 'nav',
    {'nav-tabs': props.tabs},
    {'nav-fill': props.fill},
    {'nav-pills': props.pills},
    {'nav-justified': props.justified},
])
</script>

<template>
    <component :is="list ? 'ul' : 'nav'" :class="classes">
        <slot/>
    </component>
</template>
