<script setup>
defineProps({
    collapseId: {
        type: String,
        required: true,
    },
    expanded: {
        type: Boolean,
        default: false,
    }
});
</script>

<template>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" :data-bs-target="'#'+collapseId" :aria-controls="collapseId" :aria-expanded="expanded">
        <span class="navbar-toggler-icon"></span>
    </button>
</template>
