<script setup>
defineProps({
    href: String
});
</script>

<template>
    <a v-if="href" class="navbar-brand" :href="href">
        <slot/>
    </a>
    <span v-else class="navbar-brand mb-0 h1">
        <slot/>
    </span>
</template>
