<script setup>
const props = defineProps({
    bg: String,
    dark: Boolean,
    expand: {
        type: String,
        default: 'md'
    },
    collapseId: {
        type: String,
    },
    collapseClass: String,
    toggled: {
        type: Boolean,
        default: false,
    }
});
</script>

<template>
    <nav :class="['navbar', bg ? `bg-${bg}` : '', {'navbar-dark': dark}, `navbar-expand-${expand}`]">
        <div class="container-fluid">
            <slot/>
            <slot name="start"/>
            <div v-if="$slots.collapse" class="collapse navbar-collapse" :class="collapseClass" :id="collapseId">
                <slot name="collapse"/>
            </div>
            <slot name="end"/>
        </div>
    </nav>
</template>
