<script setup>
import { Link } from '@inertiajs/vue3';

defineProps({
    href: {
        type: String,
        default: '#',
    },
    active: {
        type: Boolean,
    },
    dropdown: Boolean,
});
</script>

<template>
    <li :class="['nav-item', {dropdown}]">
        <slot name="start"/>
        <a v-if="dropdown" class="nav-link dropdown-toggle" :class="{active}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <slot/>
        </a>
        <Link v-else :href="href" :class="{'nav-link': true, active}">
            <slot/>
        </Link>
        <slot name="end"/>
    </li>
</template>
