<script setup>
import { usePopupEvents, PopupEvents } from '@/Composable/bootstrap';
import { ref } from 'vue';

const props = defineProps({
    id: null,
    placement: {
        type: String,
        default: 'start',
    },
    scroll: {
        type: [Boolean, String],
        default: false,
    }
})

const offcanvas = ref(null);
const emit = defineEmits(PopupEvents);
usePopupEvents(offcanvas, emit);
</script>

<template>
    <div
        ref="offcanvas"
        :id="props.id"
        :class="['offcanvas', 'offcanvas-' + props.placement]"
        tabindex="-1"
        :aria-labelledby="props.id + 'Label'"
        :data-bs-scroll="props.scroll"
    >
        <div v-if="$slots.header" class="offcanvas-header">
            <h5 class="offcanvas-title" :id="props.id + 'Label'">
                <slot name="header"/>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div v-if="$slots.body" class="offcanvas-body">
            <slot name="body"/>
        </div>
        <slot/>
    </div>
</template>
