<script setup>
import { Link } from '@inertiajs/vue3';
import Ico from '@/Components/Ico.vue';

defineProps({
    links: {
        type: Array,
        default: null
    }
})

defineEmits(['navigate'])
</script>

<template>
    <ul v-if="links" class="pagination">
        <li v-for="(item, index) in links" :key="'pagination-'+index" :class="{'page-item': true, disabled: item.url === null, active: item.active}">
            <Link class="page-link" :href="item.url ?? '#'">
                <Ico size="24" v-if="index === 0" name="chevron_left"/>
                <Ico size="24" v-else-if="index === links.length - 1" name="chevron_right"/>
                <template v-else>
                    {{ item.label }}
                </template>
            </Link>
        </li>
    </ul>
</template>
