<script setup>
import { makeBreakpointClass } from "@/Composable/bootstrap";

const props = defineProps({
    tag: {
        type: String,
        default: 'div',
    },
    g: {
        type: [Number, String, Array, Object],
        default: undefined,
    },
    gx: {
        type: [Number, String, Array, Object],
        default: undefined,
    },
    gy: {
        type: [Number, String, Array, Object],
        default: undefined,
    },
    grid: {
        type: [Number, String, Array, Object],
        default: undefined,
    },
    align: {
        type: [String, Array, Object],
        default: undefined,
    },
    justify: {
        type: [String, Array, Object],
        default: undefined,
    },
})
</script>

<template>
    <component
        :is="props.tag"
        :class="[
            'row',
            makeBreakpointClass('row-cols', props.grid),
            makeBreakpointClass('align-items', props.align),
            makeBreakpointClass('justify-content', props.justify),
            makeBreakpointClass('g', props.g),
            makeBreakpointClass('gx', props.gx),
            makeBreakpointClass('gy', props.gy),
        ]">
        <slot/>
    </component>
</template>
