<script setup>
import { reactive } from 'vue';

const props = defineProps({
    sm: {
        type: Boolean,
        default: false
    },
    hover: {
        type: Boolean,
        default: false
    },
    bordered: {
        type: Boolean,
        default: false
    },
    borderless: {
        type: Boolean,
        default: false
    },
    striped: {
        type: Boolean,
        default: false
    },
    columns: {
        type: Object,
        default: {}
    },
    source: {
        type: Array,
        default: []
    },
});

const classObject = reactive({
    'table-hover': props.hover,
    'table-bordered': props.bordered,
    'table-borderless': props.borderless,
    'table-striped': props.striped,
});
if (props.scale) {
    classObject[`table-${props.scale}`] = true;
}
</script>

<template>
    <table class="table" :class="classObject">
        <thead v-if="$slots.thead">
            <slot name="thead"/>
        </thead>
        <tbody>
            <slot/>
        </tbody>
        <tfoot v-if="$slots.tfoot">
            <slot name="tfoot"/>
        </tfoot>
    </table>
</template>
