<script setup>
import { computed, onMounted, ref } from 'vue';
import { attributesNameId } from "@/Composable/bootstrap";

defineEmits(['update:modelValue'])
const props = defineProps({
    modelValue: null,
    id: String,
    name: String,
    scale: {
        type: String,
        default: null
    },
    autocomplete: {
        type: String,
        default: 'off'
    },
    readonly: {
        type: Boolean,
        default: false,
    },
    plaintext: {
        type: Boolean,
        default: false,
    },
    invalid: Boolean
})

const { name, id } = attributesNameId(props.name, props.id)
const classArray = computed(() => {
    if (props.type === 'range') {
        return ['form-range']
    }
    else {
        return [
            props.plaintext ? 'form-control-plaintext' : 'form-control',
            props.scale ? 'form-control-' + props.scale : '',
            props.invalid ? 'is-invalid' : '',
        ]
    }
})

const textarea = ref(null);
onMounted(() => {
    if (textarea.value.hasAttribute('autofocus')) {
        textarea.value.focus();
    }
})
</script>

<template>
    <textarea
        ref="textarea"
        :id="id"
        :name="name"
        rows="1"
        :class="classArray"
        :value="props.modelValue"
        :readonly="(props.readonly || props.plaintext) ? 'readonly' : false"
        @input="$emit('update:modelValue', $event.target.value)"
        :autocomplete="props.autocomplete">
    </textarea>
</template>
