<script setup>
import { computed } from 'vue';
import { uniqueId } from 'lodash/util';
import { makeBreakpointClass } from '@/Composable/bootstrap';

const emit = defineEmits(['update:modelValue', 'change'])
const props = defineProps({
    modelValue: {
        type: [Array, Boolean],
        default: false,
    },
    id: {
        default: () => uniqueId('toggle-')
    },
    type: {
        type: String,
        default: 'check'
    },
    name: String,
    value: {
        type: [Boolean, Number, String, Object],
        default: null,
    },
    button: Boolean,
    disabled: Boolean,
    inline: Boolean,
    label: String,
    reverse: Boolean,
    scale: {
        type: String,
        default: undefined,
    },
    outline: Boolean,
    color: {
        type: String,
        default: 'primary'
    },
    class: String,
    invalid: Boolean
})

const inputType = computed(() => {
    switch (props.type) {
        case 'switch': return 'checkbox'
        case 'radio': return 'radio'
        default: return 'checkbox'
    }
})

const inputChecked = computed({
    get() {
        return props.modelValue
    },
    set(value) {
        emit('update:modelValue', value);
    },
});

const inputAttrs = computed(() => {
    let result = {
        id: props.id,
        type: inputType.value,
        name: props.name,
        value: props.value,
        class: props.class,
        disabled: props.disabled,
    }
    if (props.type === 'switch')
        result.role = 'switch'

    return result
})

const buttonClass = computed(() => [
    'btn',
    props.scale ? 'btn-' + props.scale : '',
    props.color ? makeBreakpointClass(props.outline ? 'btn-outline' : 'btn', props.color) : '',
])
</script>

<template>
    <template v-if="props.button" >
        <input
            v-bind="inputAttrs"
            class="btn-check"
            v-model="inputChecked"
            @change="$emit('change', $event)"
            autocomplete="off"
        >
        <label :class="buttonClass" :for="props.id">
            <slot/>{{ props.label }}
        </label>
    </template>
    <template v-else>
        <div
            v-if="props.label"
            class="form-check"
            :class="{'form-switch': props.type === 'switch', 'form-check-inline': props.inline, 'form-check-reverse': props.reverse, 'is-invalid': props.invalid}"
        >
            <input
                v-bind="inputAttrs"
                class="form-check-input"
                v-model="inputChecked"
                @change="$emit('change', $event)"
            >
            <label class="form-check-label" :for="props.id">
                <slot/>{{ props.label }}
            </label>
        </div>
        <input
            v-else class="form-check-input"
            v-bind="inputAttrs"
            :class="{'is-invalid': invalid}"
            v-model="inputChecked"
            @change="$emit('change', $event)"
            :aria-label="props.label ?? '...'"
        >
    </template>
</template>
