<script setup>
import { Head, useForm, usePage } from '@inertiajs/vue3';
import { ref } from 'vue';
import { assignLocalizedValue, defaultLocalizedValue } from '@/Composable/database';
import AdminLayout from '@/Layouts/AdminLayout.vue';
import Form from '@/Components/Form.vue';
import Ico from '@/Components/Ico.vue';
import Button from '@/Components/Button.vue';
import Toggle from '@/Components/Toggle.vue';
import Modal from '@/Components/Modal.vue';
import FormGroup from '@/Components/FormGroup.vue';
import Input from '@/Components/Input.vue';
import Select from '@/Components/Select.vue';
import Textarea from '@/Components/Textarea.vue';
import Nav from '@/Components/Nav.vue';
import MenuTree from '@/Elements/Admin/MenuTree.vue';

const props = defineProps({
    items: {},
});

const page = usePage();
const currentLocale = ref(page.props.availableLocales[0])

const form = useForm({
    id: null,
    parent_id: null,
    order: 0,
    type: undefined,
    position: null,
    name: defaultLocalizedValue(),
    description: defaultLocalizedValue(),
    source_id: null,
    url: null,
    target: null,
});

function submit() {
    form.put(
        route('admin.menus.save', form.id),
        {
            onSuccess: page => {

            }
        }
    );
}

async function onClickName(selected) {
    form.reset();
    selected.name = assignLocalizedValue(selected.name);
    selected.description = assignLocalizedValue(selected.description);
    for (const [key, value] of Object.entries(selected)) {
        form[key] = value;
    }
}

function checkAll(event) {
    if (event.target.checked) {
        form.checked = props.roles.data.map(user => user.id);
    } else {
        form.checked = [];
    }
}
</script>

<template>
    <Head :title="$t('Menu')"/>

    <AdminLayout>
        <fieldset class="h-100 position-relative">
            <Button color="success" scale="sm" toggle="modal" target="#itemModal" class="position-absolute end-0 top-0" @click="form.reset()">
                <Ico name="add"/>
            </Button>
            <MenuTree id="treeMenu" :data="props.items" toggle="modal" target="#itemModal" @click-name="onClickName"/>
        </fieldset>
        <Modal id="itemModal" scale="lg">
            <Form :form="form" @submit.prevent="submit" class="row gx-3">
                <FormGroup :label="$t('Order')" class="col-2">
                    <Input type="number" name="order" v-model="form.order"/>
                </FormGroup>
                <FormGroup for="type" :label="$t('Type')" class="col-auto">
                    <Select
                        name="type"
                        v-model="form.type"
                        :source="{
                            menu: $t('Menu'),
                            link: $t('Link'),
                            article: $t('Article'),
                            articleGroup: $t('Article group'),
                            externalLink: $t('External link'),
                        }"
                        :empty="{value: null, label: $t('Select a value'), disabled: true}"
                    />
                </FormGroup>
                <FormGroup v-show="!['menu', 'externalLink'].includes(form.type)" :label="$t('Source')" class="col-5">
                    <Select
                        name="source_id"
                        v-model="form.source_id"
                        :source="[]"
                    />
                </FormGroup>
                <FormGroup v-show="['link', 'externalLink'].includes(form.type)" :label="$t('Link')">
                    <Input type="url" v-model="form.url"/>
                </FormGroup>
                <FormGroup v-show="['link', 'externalLink'].includes(form.type)" :label="$t('Target')" class="col-auto">
                    <Select
                        name="target"
                        v-model="form.target"
                        :source="{
                            _blank: $t('Blank'),
                            _self: $t('Self'),
                            _parent: $t('Parent'),
                            _top: $t('Top'),
                            framename: $t('Frame name'),
                        }"
                    />
                </FormGroup>
                <hr class="mt-0">
                <Col grid="12">
                    <Nav pills class="mb-1">
                        <li
                            v-for="(item, index) in $page.props.availableLocales" :key="`document-${index}`"
                            class="nav-item">
                            <a
                                href="#"
                                :class="['nav-link px-2 py-1', {active: currentLocale === item}]"
                                v-html="item.toUpperCase()"
                                @click.prevent="currentLocale = item"
                            />
                        </li>
                    </Nav>
                    <Row v-for="locale in $page.props.availableLocales" :class="[currentLocale === locale ? 'd-flex' : 'd-none']" gx="2">
                        <FormGroup :for="`name[${locale}]`" :label="$t('Name')" class="col-12 mb-3">
                            <Input :name="`name[${locale}]`" v-model="form.name[locale]"/>
                        </FormGroup>
                        <FormGroup :for="`description[${locale}]`" :label="$t('Description')" class="col-12 mb-3">
                            <Textarea :name="`description[${locale}]`" v-model="form.description[locale]"/>
                        </FormGroup>
                    </Row>
                </Col>
                <div class="d-flex justify-content-end gap-2">
                    <Button color="secondary" outline dismiss="modal" v-html="$t('Close')"/>
                    <Button type="submit">{{ $t('Save') }}</Button>
                </div>
            </Form>
        </Modal>
    </AdminLayout>
</template>

<style lang="scss">
#treeMenu {
    width: fit-content;
    min-width: calc(50% + 3rem);
}
</style>
