<script setup>
import { Head, useForm } from '@inertiajs/vue3';
import { decomposeModel } from '@/Composable/database';
import { RBACActions } from '@/Composable/enums';
import { find } from 'lodash';
import AdminLayout from '@/Layouts/AdminLayout.vue';
import Form from '@/Components/Form.vue';
import FormGroup from '@/Components/FormGroup.vue';
import Input from '@/Components/Input.vue';
import Textarea from '@/Components/Textarea.vue';
import Toggle from '@/Components/Toggle.vue';
import Table from '@/Components/Table.vue';
import Button from '@/Components/Button.vue';
import CRUDSubmit from '@/Elements/Admin/CRUDSubmit.vue';

const props = defineProps({
    role: {
        type: Object,
        default: {
            name: null,
            system: false,
            description: null,
            permissions: [],
        },
    },
    abilities: {
        type: Array,
        default: [],
    },
    permissions: {
        type: Array,
        default: [],
    },
});
const form = useForm({
    _redirect: 'edit',
    ...decomposeModel(props.role, ['permissions']),
});
function submit() {
    form.submit(
        props.role.id ? 'put' : 'post',
        props.role?.id ? route('admin.roles.update', props.role.id) : route('admin.roles.store'),
    )
}
</script>

<template>
    <Head :title="$t('Roles')+'-'+$t('Edit')"/>

    <AdminLayout>
        <Form :form="form" @submit.prevent="submit" class="row pt-3 content-item">
            <Col tag="fieldset" :grid="{md: 12}" :disabled="form.system">
                <Row g="2">
                    <div class="position-relative">
                        <Toggle type="switch" name="system" :label="$t('Systemic')" v-model="form.system"/>
                    </div>
                    <FormGroup for="name" :label="$t('Name')">
                        <Input id="name" v-model="form.name" required autofocus/>
                    </FormGroup>
                    <FormGroup for="description" :label="$t('Description')">
                        <Textarea id="description" type="email" v-model="form.description"/>
                    </FormGroup>
                </Row>
            </Col>
            <Col tag="fieldset" :grid="{md: 12}" :disabled="form.system">
                <div class="table-responsive overflow-auto bg-white">
                    <Table>
                        <template #thead>
                            <tr>
                                <th scope="col"></th>
                                <th v-for="action in RBACActions" :key="action" scope="col" class="text-center">
                                    {{ $t(action) }}
                                </th>
                            </tr>
                        </template>
                        <template v-for="ability in abilities" :key="ability.id">
                            <tr class="row-group bg-info">
                                <th scope="row">
                                    {{ ability.object }}
                                </th>
                                <td v-for="action in RBACActions" :key="action" class="text-center">
                                    <Toggle
                                        v-if="permission = find(permissions, {object: ability.object, action})"
                                        name="permissions"
                                        :value="permission.id"
                                        v-model="form.permissions"/>
                                </td>
                            </tr>
                            <tr v-for="abilityCh in ability.children">
                                <td>
                                    {{ abilityCh.object }}
                                </td>
                                <td v-for="action in RBACActions" :key="action" class="text-center">
                                    <Toggle
                                        v-if="permission = find(permissions, {object: abilityCh.object, action})"
                                        name="permissions"
                                        :value="permission.id"
                                        v-model="form.permissions"/>
                                </td>
                            </tr>
                        </template>
                    </Table>
                </div>
            </Col>
            <Col grid="12" class="pt-3">
                <div class="d-flex justify-content-end gap-2">
                    <Button tag="link" color="secondary" outline :href="route('admin.roles.index')" v-html="$t('Close')"/>
                    <CRUDSubmit object="role" @submit="action => form._redirect = action"/>
                </div>
            </Col>
        </Form>
    </AdminLayout>
</template>

<style lang="scss" scoped>
.row-group {
    > th, td {
        background-color: transparent !important;
    }
}
</style>
