<script setup>
import { Head } from '@inertiajs/vue3';
import ManagementLayout from '@/Layouts/ManagementLayout.vue';
</script>

<template>
    <Head :title="$t('Management')"/>

    <ManagementLayout>
        ManagementLayout
    </ManagementLayout>
</template>

<style scoped>

</style>
