<script setup>
import { Head } from '@inertiajs/vue3';
import ManagementLayout from '@/Layouts/ManagementLayout.vue';
import Table from '@/Components/Table.vue';

defineProps({
    routes: null,
});
</script>

<template>
    <Head :title="$t('Routes')"/>

    <ManagementLayout>
        <div  class="table-responsive overflow-auto bg-white mt-2">
            <Table striped hover sm>
                <template #thead>
                    <tr>
                        <th scope="col">
                            {{ $t('Method') }}
                        </th>
                        <th scope="col">
                            {{ $t('Uri') }}
                        </th>
                        <th scope="col">
                            {{ $t('Controller') }}
                        </th>
                        <th scope="col">
                            {{ $t('Middleware') }}
                        </th>
                    </tr>
                </template>
                <tr v-for="(item, index) in routes" :key="'route-'+index">
                    <template v-if="item.action.prefix !== '_ignition'">
                        <td>
                            <div class="d-flex gap-1">
                                <span v-for="method in item.methods" class="badge text-bg-primary" :key="'method-'+index" v-html="method"></span>
                            </div>
                        </td>
                        <td>{{ item.uri }}</td>
                        <td>{{ item.action.controller }}</td>
                        <td>
                            <div class="d-flex gap-1">
                                <span v-for="method in item.action.middleware" class="badge text-bg-warning" :key="'middleware-'+index" v-html="method"></span>
                            </div>
                        </td>
                    </template>
                </tr>
            </Table>
        </div>
    </ManagementLayout>
</template>

<style lang="scss" scoped>
.table-responsive {
    height: calc(100vh - 70px);
}
</style>
