<script setup>
import { Head } from '@inertiajs/vue3';
import AppLayout from '@/Layouts/AppLayout.vue';
import DeleteUserForm from './Partials/DeleteUserForm.vue';
import UpdatePasswordForm from './Partials/UpdatePasswordForm.vue';
import UpdateProfileInformationForm from './Partials/UpdateProfileInformationForm.vue';

defineProps({
    mustVerifyEmail: {
        type: Boolean,
    },
    status: {
        type: String,
    },
});
</script>

<template>
    <Head :title="$t('Profile')" />

    <AppLayout>
        <Col :grid="{ lg: 10, xl: 8, xxl: 6 }" class="mx-lg-auto">
            <h2 class="text-white">{{ $t('Profile') }}</h2>
            <div class="w-100 bg-white rounded">
                <UpdateProfileInformationForm
                    :must-verify-email="mustVerifyEmail"
                    :status="status"
                    class="p-3 py-2 mb-2"
                />
            </div>
            <div class="w-100 bg-white rounded">
                <UpdatePasswordForm class="p-3 py-2 mb-2"/>
            </div>
            <div class="w-100 bg-white rounded">
                <DeleteUserForm class="p-3 py-2 mb-2"/>
            </div>
        </Col>
    </AppLayout>
</template>
