<script setup>
import { Head } from '@inertiajs/vue3';
import AdminLayout from '@/Layouts/AdminLayout.vue';
</script>

<template>
    <Head :title="$t('Management')"/>

    <AdminLayout>
        AdminLayout
    </AdminLayout>
</template>

<style scoped>

</style>
