<script setup>
import { Head } from '@inertiajs/vue3';
import AdminLayout from '@/Layouts/AdminLayout.vue';
import Table from '@/Components/Table.vue';

defineProps({
    routes: null,
});
</script>

<template>
    <Head :title="$t('Routes')"/>

    <AdminLayout>
        <div class="content-item">
            <div class="table-responsive overflow-auto bg-white mt-2 w-100">
                <Table striped hover sm>
                    <template #thead>
                        <tr>
                            <th scope="col">
                                {{ $t('Method') }}
                            </th>
                            <th scope="col">
                                {{ $t('Uri') }}
                            </th>
                            <th scope="col" class="d-none">
                                {{ $t('Controller') }}
                            </th>
                            <th scope="col">
                                {{ $t('Middleware') }}
                            </th>
                        </tr>
                    </template>
                    <tr v-for="(item, index) in routes" :key="'route-'+index">
                        <template v-if="item.action.prefix !== '_ignition'">
                            <td>
                                <div class="d-flex gap-1">
                                    <span v-for="method in item.methods" class="badge text-bg-primary" :key="'method-'+index" v-html="method"></span>
                                </div>
                            </td>
                            <td>{{ item.uri }}</td>
                            <td class="d-none">{{ item.action.controller }}</td>
                            <td>
                                <div class="d-flex gap-1">
                                    <span v-for="method in item.action.middleware" class="badge text-bg-warning" :key="'middleware-'+index" v-html="method"></span>
                                </div>
                            </td>
                        </template>
                    </tr>
                </Table>
            </div>
        </div>
    </AdminLayout>
</template>

<style lang="scss" scoped>
.table-responsive {
    height: calc(100vh - 70px);
}
</style>
