<script setup>
import { ref } from 'vue';
import { onWindowResize } from '@/Composable/core';
import NavbarTop from '@/Elements/Admin/NavbarTop.vue';
import Sidebar from '@/Elements/Admin/Sidebar.vue';
import Ico from '@/Components/Ico.vue';
import Button from '@/Components/Button.vue';
import Offcanvas from '@/Components/Offcanvas.vue';

const showOffcanvas = ref(false);

onWindowResize((width, height) => {
    width < 960 ? showOffcanvas.value = true : showOffcanvas.value = false;
});
</script>

<template>
    <NavbarTop>
        <template #start>
            <Button
                id="manageBarOffcanvasToggler"
                toggle="offcanvas"
                target="#manageBarOffcanvas"
                class="navbar-toggler d-block d-lg-none me-2"
            >
                <span class="navbar-toggler-icon"></span>
            </Button>
        </template>
    </NavbarTop>

    <main class="row min-vh-navbar">
        <Col grid="auto" id="sidebar" class="bg-white px-0 border-end mb-2 mb-md-0">
            <template v-if="showOffcanvas">
                <Offcanvas id="manageBarOffcanvas">
                    <template #header>
                        {{ $t('Management') }}
                    </template>
                    <Sidebar/>
                </Offcanvas>
            </template>
            <Sidebar v-else/>
        </Col>
        <Col id="content">
            <slot/>
        </Col>
    </main>
</template>

<style lang="scss">
@import "../../scss/admin";

// Content
.index-actions {
    @extend .d-flex, .justify-content-end, .justify-content-lg-start, .gap-1, .mt-auto;
}

.content-item {
    @extend .overflow-auto
}
</style>
