<script setup>
import NavbarTop from '@/Elements/NavbarTop.vue';
</script>

<template>
    <NavbarTop/>

    <Row tag="main" class="min-vh-navbar">
        <Col v-if="$slots.left" :grid="{lg: 3}">
            <slot name="left"/>
        </Col>
        <slot/>
    </Row>
</template>

<style lang="scss">
@import "../../scss/app";
</style>
