<script setup>
import { ref } from 'vue';
import { onWindowResize } from '@/Compose/core';
import NavbarManagement from '@/Components/Page/NavbarManagement.vue';
import SidebarManagement from '@/Components/Page/SidebarManagement.vue';
import Ico from '@/Components/Ico.vue';
import Button from '@/Components/Button.vue';
import Offcanvas from '@/Components/Offcanvas.vue';

const showOffcanvas = ref(false);

onWindowResize((w, h, e) => {
    w < 768 ? showOffcanvas.value = true : showOffcanvas.value = false;
});
</script>

<template>
    <NavbarManagement/>

    <main class="row min-vh-navbar">
        <Col grid="auto" id="sidebar" class="bg-white px-0 border-end mb-2 mb-md-0">
            <Button id="manageBarOffcanvasToggler" toggle="offcanvas" target="#manageBarOffcanvas">
                <Ico name="menu_open"/>
            </Button>
            <Offcanvas v-if="showOffcanvas" id="manageBarOffcanvas">
                <template #header>
                    {{ $t('Management') }}
                </template>
                <SidebarManagement/>
            </Offcanvas>
            <SidebarManagement v-else/>
        </Col>
        <Col id="content">
            <slot/>
        </Col>
    </main>
</template>

<style lang="scss">
@import "resources/sass/management";
</style>
