<script setup>
import { Head, useForm } from '@inertiajs/vue3';
import AppLayout from '@/Layouts/AppLayout.vue';
import Card from '@/Components/Card.vue';
import Form from '@/Components/Form.vue';
import FormGroup from '@/Components/FormGroup.vue';
import Input from '@/Components/Input.vue';
import Button from '@/Components/Button.vue';

const form = useForm({
    password: '',
});

const submit = () => {
    form.post(route('password.confirm'), {
        onFinish: () => form.reset(),
    });
};
</script>

<template>
    <Head :title="$t('Confirm Password')"/>

    <AppLayout>
        <Col :grid="{ md:5, lg:4 }" align="center" class="mx-auto">
            <Card>
                <template #body>
                    <small v-if="status" class="d-block mb-3 text-secondary" v-html="$t('texts.confirm_password')">
                    </small>

                    <Form :form="form" @submit.prevent="submit">
                        <FormGroup for="password" :label="$('Password')">
                            <Input id="password" type="password" v-model="form.password" required autocomplete="current-password"/>
                        </FormGroup>

                        <div class="d-flex justify-content-between">
                            <Button type="submit" color="primary"  :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                {{ $t('Confirm') }}
                            </Button>
                        </div>
                    </Form>
                </template>
            </Card>
        </Col>
    </AppLayout>
</template>
