<script setup>
import { Head, useForm } from '@inertiajs/vue3';
import AppLayout from '@/Layouts/AppLayout.vue';
import Card from '@/Components/Card.vue';
import Form from '@/Components/Form.vue';
import FormGroup from '@/Components/FormGroup.vue';
import Input from '@/Components/Input.vue';
import Button from '@/Components/Button.vue';

defineProps({
    status: {
        type: String,
    },
});

const form = useForm({
    email: '',
});

const submit = () => {
    form.post(route('password.email'));
};
</script>

<template>
    <Head :title="$t('Forgot Password')"/>

    <AppLayout>
        <Col :grid="{ md:5, lg:4 }" align="center" class="mx-auto">
            <Card>
                <template #body>
                    <small class="d-block mb-2 text-secondary" v-html="$t('texts.forgot_password')">
                    </small>
                    <small v-if="status" class="d-block mb-2 text-success">
                        {{ status }}
                    </small>
                    <Form @submit.prevent="submit">
                        <FormGroup for="email" :label="$t('Email')">
                            <Input type="email" id="email" v-model="form.email" required autofocus autocomplete="username"/>
                        </FormGroup>
                        <div class="d-flex justify-content-end">
                            <Button type="submit" color="primary" :disabled="form.processing">
                                {{ $t('Email password reset link') }}
                            </Button>
                        </div>
                    </Form>
                </template>
            </Card>
        </Col>
    </AppLayout>
</template>
