<script setup>
import { Head, Link, useForm } from '@inertiajs/vue3';
import AppLayout from '@/Layouts/AppLayout.vue';
import Card from '@/Components/Card.vue';
import Form from '@/Components/Form.vue';
import Toggle from '@/Components/Toggle.vue';
import FormGroup from '@/Components/FormGroup.vue';
import Input from '@/Components/Input.vue';
import Button from '@/Components/Button.vue';

defineProps({
    canResetPassword: {
        type: Boolean,
    },
    status: {
        type: String,
    },
});

const form = useForm({
    email: '',
    password: '',
    remember: false,
});

const submit = () => {
    form.post(route('login'), {
        onFinish: () => form.reset('password'),
    });
};
</script>

<template>
    <Head :title="$t('Log in')"/>

    <AppLayout>
        <Col :grid="{ md:5, lg:4 }" align="center" class="mx-auto">
            <Card>
                <template #body>
                    <small v-if="status" class="d-block mb-2 text-success">
                        {{ status }}
                    </small>
                    <Form :form="form" @submit.prevent="submit">
                        <FormGroup for="email" :label="$t('Email')">
                            <Input id="email" type="email" v-model="form.email" required autofocus autocomplete="username"/>
                        </FormGroup>
                        <FormGroup for="password" :label="$t('Password')">
                            <Input id="password" type="password" v-model="form.password" required autocomplete="current-password"/>
                        </FormGroup>
                        <Toggle name="remember" v-model="form.remember" :label="$t('Remember me')"/>
                        <div class="d-flex justify-content-between">
                            <Link v-if="canResetPassword" :href="route('password.request')" class="text-secondary">
                                {{ $t('Forgot your password?')}}
                            </Link>

                            <Button type="submit" color="primary" :disabled="form.processing">
                                {{ $t('Log in') }}
                            </Button>
                        </div>
                    </Form>
                </template>
            </Card>
        </Col>
    </AppLayout>
</template>
