<script setup>
import { Head, useForm } from '@inertiajs/vue3';
import AppLayout from '@/Layouts/AppLayout.vue';
import Card from '@/Components/Card.vue';
import Form from '@/Components/Form.vue';
import FormGroup from '@/Components/FormGroup.vue';
import Input from '@/Components/Input.vue';
import Button from '@/Components/Button.vue';

const props = defineProps({
    email: {
        type: String,
        required: true,
    },
    token: {
        type: String,
        required: true,
    },
});

const form = useForm({
    token: props.token,
    email: props.email,
    password: '',
    password_confirmation: '',
});

const submit = () => {
    form.post(route('password.store'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};
</script>

<template>
    <Head :title="$t('Reset Password')"/>

    <AppLayout>
        <Col :grid="{ md:5, lg:4 }" align="center" class="mx-auto">
            <Card>
                <template #body>
                    <Form @submit.prevent="submit">
                        <FormGroup for="email" :label="$t('Email')">
                            <Input type="email" id="email" v-model="form.email" required autofocus autocomplete="username"/>
                        </FormGroup>
                        <FormGroup for="password" :label="$t('Password')">
                            <Input type="password" id="password" v-model="form.password" required autocomplete="new-password"/>
                        </FormGroup>
                        <FormGroup for="password_confirmation" :label="$t('Confirm Password')">
                            <Input type="password" id="password_confirmation" v-model="form.password_confirmation" required autocomplete="new-password"/>
                        </FormGroup>
                        <div class="d-flex justify-content-end">
                            <Button type="submit" color="primary" :disabled="form.processing">
                                {{ $t('Reset Password') }}
                            </Button>
                        </div>
                    </Form>
                </template>
            </Card>
        </Col>
    </AppLayout>
</template>
