<script setup>
import { computed } from 'vue';
import { Head, Link, useForm } from '@inertiajs/vue3';
import AppLayout from '@/Layouts/AppLayout.vue';
import Button from '@/Components/Button.vue';

const props = defineProps({
    status: {
        type: String,
    },
});

const form = useForm({});

const submit = () => {
    form.post(route('verification.send'));
};

const verificationLinkSent = computed(() => props.status === 'verification-link-sent');
</script>

<template>
    <Head :title="$t('Email Verification')"/>

    <AppLayout>
        <Col :grid="{ md:5, lg:4 }" align="center" class="mx-auto bg-white py-3 rounded">
            <small class="d-block text-secondary mb-3" v-html="$t('texts.verify_your_email')">
            </small>

            <small class="d-block text-success mb-3" v-if="verificationLinkSent" v-html="$t('texts.verification_link_sent')">
            </small>

            <form @submit.prevent="submit" class="d-flex justify-content-between">
                <Button type="submit" color="primary" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    {{ $t('Resend verification email') }}
                </Button>

                <Link as="button" method="post" :href="route('logout')" class="btn btn-secondary">
                    {{ $t('Log out') }}
                </Link>
            </form>
        </Col>
    </AppLayout>
</template>
